<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
    <div id="home">
        <div id="insta-logo">
            <img id='logo' src="../static/Insta-logo.png">     
        </div>        
        <div id="postcard">                
            <% if (posts && posts.length > 0) { %>
                <% posts.forEach(p => { %>
                    <div id="fetchedpost">
                        <div id="mainposttop">
                            <a href="/othersprofile/<%= p.user._id %>"><p><img src="<%= p.user.profile && p.user.profile.secure_url ? p.user.profile.secure_url : '../static/dp.jpg' %>" alt="dp" height="30px" width="30px" id="userprofile"><span><%= p.user.username %></span></p></a>
                            <span id="threedot"><i class="fa-solid fa-ellipsis-vertical"></i></span>
                        </div>
                        <div class="mainpost">
                            <span>
                                <img src="<%= p.photo.secure_url %>" height="380px" width="380px">
                            </span>
                            <div id="likeandcomment">
                                <% 
                                    let userLiked = false;
                                    if (likes && likes.length > 0)
                                    {
                                        userLiked = likes.some(like => like.user.toString() === user._id.toString() && like.post.toString() === p._id.toString());
                                    } 
                                %>
                                <i class="<%= userLiked ? 'fa-solid liked' : 'fa-regular' %> fa-heart likebutton" data-like="<%= p._id %>"></i>

                                <a href="/comment/<%= p._id %>" style="color:black;"><i class="fa-regular fa-comment"></i></a>

                                <i class="fa-regular fa-paper-plane"></i>

                                <span style="display: block; font-size: 15px; margin-left: 9px; margin-top: 8px; color: rgb(165, 167, 168);">
                                    <% if (p.comments && p.comments.length > 0) { %>
                                        View all <%= p.comments.length %> comments
                                    <% } else { %>
                                        No comments available
                                    <% } %>
                                </span>

                                <a href="/alllikes/<%= p._id %>" style="color: black; text-decoration: none;"><p style="cursor: pointer;">&nbsp;<span class="likecount"><%= p.likes.length %></span><span>&nbsp;likes</span></p></a> 

                            </div>
                            <p id="fetchedcaption"><span id="captionusername"><%= p.user.username %></span><%= p.caption %></p>
                        </div>                               
                    </div>
                <% }); %>
            <% } else { %>
                <span>No posts available</span>
            <% } %>
            <div id="createpostbody">
                <form id="createpost">
                    <span>Select Photo : <input type="file" name="photo" id="photo"></span>                    
                    <span>Caption : <input type="text" name="caption" id="caption"></span>                   
                    <button type="submit">Post</button>                   
                </form>
                <!-- loading bar -->
                <div  id="postloadingbar" style="display: none;">
                    <i class="fa-solid fa-spinner fa-spin"></i>
                </div>
                <button id="discardpost">Discard</button>
                <div id="createpoststatus"></div>
            </div>              
        </div>
        <div id="bottom">
            <div id="bottombuttons">
                <a href="/home"><i class="fa-solid fa-house"></i></a>
                <i class="fa-regular fa-square-plus" id="createpostbutton"></i>
                <a href="/auth/getuser"><img src="<%= user.profile && user.profile.secure_url ? user.profile.secure_url : '../static/dp.jpg' %>" alt="dp" height="30px" width="30px" id="userprofile"></a>
                <p style="display: none;" id="userid"><%=user._id%></p>
            </div>
        </div>      
    </div>



    <script src="https://kit.fontawesome.com/eff65daa71.js" crossorigin="anonymous"></script> 
    
     
    <script>
        //CreatePost API

        const postloadingbar = document.getElementById('postloadingbar');
        
        const createpost = document.getElementById('createpost');
        const createpoststatus = document.getElementById('createpoststatus');
        createpost.addEventListener('submit',(e)=>{
            e.preventDefault();

            const formData = new FormData(createpost);

            postloadingbar.style.display = 'block'

            fetch('/post',{
                method : 'POST',
                body: formData
            })
            .then(response=>{
                if(!response.ok){
                    return response.json().then(e=>{
                        throw new Error(e.message)
                    })
                }
                
            })
            .then(data=>{
                createpoststatus.textContent = 'Post Created Successfully'
                createpost.reset();
                postloadingbar.style.display = 'none'
                window.location.href = '/auth/getuser'
            })
            .catch(e=>{
                postloadingbar.style.display = 'none'
                createpoststatus.textContent = e.message;
            });
        });

        const createpostbutton = document.getElementById('createpostbutton');
        const createpostbody = document.getElementById('createpostbody');
        const discardpost = document.getElementById('discardpost');
        createpostbutton.addEventListener('click',()=>{
            createpostbody.style.display = 'flex';
            createpostbody.style.flexDirection = 'column';

            createpostbutton.style.display = 'none';
        });
        discardpost.addEventListener('click',()=>{
            createpostbody.style.display = 'none';
            createpostbutton.style.display = 'block';
        })


        //Like API

        
        let countlike = JSON.parse(localStorage.getItem('countlike')) || {};
        
        
        
        const likebutton = document.querySelectorAll('.likebutton');
        const userid = document.getElementById('userid');
        
        likebutton.forEach(like=>{

            like.addEventListener('click',()=>{
                
                const currentpostId = like.getAttribute('data-like');
                console.log('current Post Id : ',currentpostId);

                const likecount = like.closest('#likeandcomment').querySelector('.likecount');

                let totalCount = parseInt(likecount.textContent,10);
                console.log('type of count is ',typeof(totalCount));
                console.log('Total Like of',currentpostId,' is ',totalCount)

                fetch('/like',{
                    method:'POST',
                    headers : {
                        'Content-Type':'application/json'
                    },
                    body:JSON.stringify({postId:currentpostId})
                })
                .then(response=>{
                    if(!response.ok){
                        return response.json().then(e=>{
                            throw new Error(e.message)
                        })
                    }
                    return response.json()
                })
                .then(data=>{
                    // Initialize countlike[currentpostId] if it doesn't exist
                    if (!countlike[currentpostId]) {
                        countlike[currentpostId] = {};
                    }
                
                    if (countlike[currentpostId][userid.textContent]) {
                        // User has already liked, so dislike
                        countlike[currentpostId][userid.textContent] = false;
                        totalCount--;
                        console.log('Disliked successfully..!!');
                        like.classList.remove('fa-solid');
                        like.classList.add('fa-regular');
                        like.classList.remove('liked');
                    } else {
                        // User is liking the post
                        countlike[currentpostId][userid.textContent] = true;
                        totalCount++;
                        console.log('Liked successfully..!!');
                        like.classList.remove('fa-regular');
                        like.classList.add('fa-solid');
                        like.classList.add('liked');
                    }

                    
                    likecount.textContent = totalCount;

                    // Update countlike in localStorage
                    localStorage.setItem('countlike', JSON.stringify(countlike));

                    
                })
                .catch(e=>{
                    console.log(e.message)
                });
            })
        });

       

    </script> 
</body>
</html>